body {
  font-family: Arial, Helvetica, sans-serif;
}
img {
  float: justified;
}
.sidebar {
  width: 25%;
  float: right;
  background-color: grey;
}
.about {
  margin: 10px;
  border: 3px solid grey;
  padding: 3px;
}

@media screen and (min-width: 768px) {
  .column {
    width: 300px;
    float: left;
    padding: 20px;
  }
}
